<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HKInc.Utils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="HKInc.Utils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <HKInc.Utils.Properties.Settings>
      <setting name="Password" serializeAs="String">
        <value>P@ssw0rd</value>
      </setting>
      <setting name="UserId" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DefaultServerName" serializeAs="String">
        <value>220.71.3.76</value>
      </setting>
      <setting name="ProductionDatabaseName" serializeAs="String">
        <value>HKInc_Data</value>
      </setting>
      <setting name="DefaultDatabaseName" serializeAs="String">
        <value>HKInc_Data</value>
      </setting>
      <setting name="DefaultFileStreamDatabaseName" serializeAs="String">
        <value>HKInc_Data</value>
      </setting>   
    </HKInc.Utils.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>